body {
  padding: 0;
  margin: 0;
}

.sorry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#excuse {
  text-align: center;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #6ea7fd, #69018f);
}

#btn-color {
  background-color: #0471d6;
  color: white;
  margin-top: 10px;
  padding: 20px;
  border: 2px groove black;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  top: 32%;
}

#btn-color:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(134, 96, 96, 0);
  text-shadow: 1px 1px 2px #427388;
}
